<Configuration status="WARN">
    <Appenders>
        <File name="File" fileName="Logs/server_log_${date:dd-MM-yyyy}.log">
            <PatternLayout pattern="%-5p | %d{dd-MM-yyyy HH:mm:ss} | %m%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{dd-MM-yyyy HH:mm:ss} | %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
